### Q.1

chracterstics of Tuples :
tuples write in Parentheses.
tuples is used to store the data that may be string, numbers,boolean etc.
we cannot change any value in a existance touple.
but we can change in list.
Tuple are basically an Immutabality where it is is not going to alllow to change any element at a particular index.

### Q.2

Tuples have only two built-in methods as compared to lists because tuples are immutable in Python.
Once a tuple is created, its contents cannot be modified.
This means that there is no need for methods like append(), remove(), or pop() in tuples,
as these methods modify the contents of a list

In [64]:
t1 = ("avinash","anup","anamika","avinash")

In [65]:
t1.count("avinash")

2

In [66]:
t1.index("anamika")

2

### Q.3
in the python set datatype removes duplicates or repeatated numbers or strings.

in below example it shown.

In [1]:
s1 = {1,2,3,4,5,2,3,6,8,9,4,6,8,0,8,5}

In [2]:
s1

{0, 1, 2, 3, 4, 5, 6, 8, 9}

In [3]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [7]:
set(List)

{1, 2, 3, 4}

In [8]:
# in above we cannot remove duplicates in list so i can convert it into set to remove all the duplicates

### Q. 4

In [20]:
s = {"vaibhav", "vikeee", "dhiraj","shubham","suraj"}

In [21]:
s1 = {"vaibhav", "sujal","akash","sarthak","dhiraj"}

In [22]:
s.union(s1)

{'akash',
 'dhiraj',
 'sarthak',
 'shubham',
 'sujal',
 'suraj',
 'vaibhav',
 'vikeee'}

The union() method is used to it cannot repeat any data from 2 sets. in above example we can see it.

In [23]:
s = {"om","akshay"}

In [24]:
s.update(s1)

In [25]:
s

{'akash', 'akshay', 'dhiraj', 'om', 'sarthak', 'sujal', 'vaibhav'}

update() function is used to print updated data. if we add something data later then we can update our data using this function. and it print all new data together with old.
and also it print in alphabatical order.

In [ ]:
Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

In [ ]:
dictionary is used to stores datatypes. like tuples and set.
in dictionary we can add keys.
in dictonary we can add only tuples as key.

In [29]:
d = {"name" : "vaibhav", "age" : "21", "standard" : "3rd yr"}

In [30]:
d

{'name': 'vaibhav', 'age': '21', 'standard': '3rd yr'}

Dictionary in Python is an unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element,
Dictionary holds key:value pair.
Key-value is provided in the dictionary to make it more optimized

### Q.6
yes we can create nested dictionary.
nested dictionary is used to craete dictonary inside dictionary

In [33]:
d1 = {"old_players" : ["sachin", "dhoni","yuvraj","harbhajan"],"new_players" : ("virat","rohit","suryakumar","hardik")}

In [34]:
d1

{'old_players': ['sachin', 'dhoni', 'yuvraj', 'harbhajan'],
 'new_players': ('virat', 'rohit', 'suryakumar', 'hardik')}

In [ ]:
Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

### Q.7

In [37]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
list = ["Python", "Machine Learning", "deep learning"]

In [46]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault('topics', ['Python', 'Machine Learning', 'Deep Learning'])

['Python', 'Machine Learning', 'Deep Learning']

### Q.8

In [47]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [49]:
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [50]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [54]:
dict1.items()

dict_items([('Sport', 'Cricket')])

In [55]:
dict1.keys()

dict_keys(['Sport'])